<ion-content class="safe-pad-bottom safe-pad-top">
  <div class="flex flex-col items-center justify-center h-full gap-8 ion-padding">
    <div class="text-center">
      <h1 class="text-4xl font-semibold mb-4 tracking-wide font-englishTitles text-shadow-lg">
        {{ mainMenuLabel }}
      </h1>
      <p class="text-lg mb-8 text-gray-600">
        {{ landingSubtitle }}
      </p>
    </div>

    <div class="flex flex-col gap-4 w-full max-w-md">
      <ion-button
        style="--box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)"
        expand="block"
        shape="round"
        (click)="navigateToExplore(SpeciesType.Bird)"
        color="primary"
      >
        <ion-icon slot="start" name="bird"></ion-icon>
        Explore {{ domainLabelBird }}
      </ion-button>

      <ion-button
        style="--box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)"
        expand="block"
        shape="round"
        (click)="navigateToExplore(SpeciesType.Plant)"
        color="secondary"
      >
        <ion-icon slot="start" name="leaf"></ion-icon>
        Explore {{ domainLabelPlant }}
      </ion-button>
    </div>

    <p class="text-sm text-gray-500 mt-8">Version {{ appVersion }}</p>
  </div>
</ion-content>
