<app-header title="Settings"></app-header>

<ion-content class="ion-padding">
  <ion-label class="ion-text-uppercase" color="medium">Content Visibility</ion-label>
  <ion-list [inset]="true" class="mb-4">
    <!-- Language Settings -->
    <ion-item>
      <ion-label>Show English Content</ion-label>
      <ion-toggle
        slot="end"
        [checked]="settings.useEnglish"
        (ionChange)="toggleSetting('useEnglish')"
      ></ion-toggle>
    </ion-item>

    <!-- Scientific Names -->
    <ion-item>
      <ion-label>Show Scientific Names</ion-label>
      <ion-toggle
        slot="end"
        [checked]="settings.showScientificNames"
        (ionChange)="toggleSetting('showScientificNames')"
      ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="safe-pad-bottom">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" class="px-4">
        <ion-icon slot="icon-only" name="close" class="text-2xl"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="applySettings()" class="px-4">
        <ion-icon slot="icon-only" name="checkmark-circle" class="text-2xl"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
