<ion-item
  class="species-list-item ion-activatable ripple-parent w-full max-w-full overflow-hidden"
  [lines]="isLastItem ? 'none' : 'inset'"
  (click)="onItemClick(item)"
>
  <div class="species-list-item__content">
    @if (listImageUrl) {
      <div class="species-list-item__thumb">
        <img
          [src]="listImageUrl"
          loading="lazy"
          decoding="async"
          alt=""
        />
      </div>
    }
    <ion-label class="species-list-item__text">
      <h2
        appShrinkToFitText
        [appShrinkToFitTextMaxLines]="2"
        class="font-localNames scaled-text ion-text-capitalize block w-full leading-tight"
      >
        {{ displayPrimaryName }}
      </h2>
      @if (orderedNames[1]) {
        <p
          class="font-medium scaled-text ion-text-capitalize text-gray-600 dark:text-gray-700 break-words min-w-0"
          color="medium"
        >
          {{ orderedNames[1] }}
        </p>
      }
      @if (orderedNames[2]) {
        <p class="scaled-text italic text-gray-500 dark:text-gray-700 break-words min-w-0" color="medium">
          {{ orderedNames[2] }}
        </p>
      }
      <!-- Type-specific content will be projected here -->
      <ng-content select="[typeSpecific]"></ng-content>
    </ion-label>
  </div>
  <!-- Type-specific actions will be projected here -->
  <ng-content select="[typeActions]"></ng-content>
  <ion-icon slot="end" name="chevron-forward"></ion-icon>
</ion-item>
