<!-- Optional overlay for explore page with filters and sorting options -->
<app-header title="Options"></app-header>

<ion-content class="ion-padding">
  <ion-label class="ion-text-uppercase scaled-text" color="medium">Sort by</ion-label>
  <ion-list [inset]="true">
    @for (option of sortOptions; track option.value) {
      <ion-item
        class="cursor-pointer"
        [class.ion-color]="selectedSort === option.value"
        [color]="selectedSort === option.value ? 'secondary' : ''"
        (click)="selectedSort = option.value"
      >
        <ion-label class="scaled-text">{{ option.label }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-label class="ion-text-uppercase scaled-text" color="medium">Filter by</ion-label>
  <ion-list [inset]="true">
    @for (option of filterOptions; track option.value) {
      <ion-item
        class="cursor-pointer"
        [class.ion-color]="selectedFilter === option.value"
        [color]="selectedFilter === option.value ? 'secondary' : ''"
        (click)="selectedFilter = option.value"
      >
        <ion-label class="scaled-text">{{ option.label }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-label class="ion-text-uppercase scaled-text" color="medium">Sort Direction</ion-label>
  <ion-list [inset]="true">
    @for (option of sortDirectionOptions; track option) {
      <ion-item
        class="cursor-pointer"
        [class.ion-color]="selectedSortDirection === option"
        [color]="selectedSortDirection === option ? 'secondary' : ''"
        (click)="selectedSortDirection = option"
      >
        <ion-label class="scaled-text">{{ option | titlecase }}</ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>

<!-- This is the options component for the Ionic application, allowing users to set preferences for sorting, filtering, and language. -->
<ion-footer class="safe-pad-bottom">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()" class="px-4">
        <ion-icon slot="icon-only" size="large" name="close" class="scaled-text"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="resetOptions()" class="px-4">
        <ion-icon
          slot="icon-only"
          size="large"
          name="refresh-circle"
          class="scaled-text"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="applyOptions()" class="px-4">
        <ion-icon
          slot="icon-only"
          size="large"
          name="checkmark-circle"
          class="scaled-text"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
