@if (loading) {
<ion-content class="flex items-center justify-center h-full safe-pad-bottom safe-pad-top">
  <ion-label class="ion-text-center">
    <p>Loading...</p>
  </ion-label>
</ion-content>
} @else {

<ion-content class="safe-pad-bottom safe-pad-top">
  <div class="bg-black">
    <app-image-carousel [species]="species"></app-image-carousel>
  </div>
  <!-- Header section -->
  <div class="text-center p-6">
    <!-- Crow names section with audio playback -->
    <div class="crow-names-container flex flex-wrap justify-center items-center">
      @for (crowName of crowNames; track crowName.name; let last = $last) {
      <span
        class="flex align-center"
        (click)="crowName.audios.length === 0 ? null : playTextAudio(crowName.audios[0])"
      >
        <h1 class="font-localNames font-bold-force crow-name-title">{{ crowName.name }}</h1>
        @for (audio of crowName.audios; track audio.id) {
        <ion-icon
          name="volume-high"
          class="ml-1 crow-name-title text-blue-500 opacity-50 hover:opacity-100 cursor-pointer"
          (click)="crowName.audios.length > 1 ? playTextAudio(audio) : null"
        ></ion-icon>
        } </span
      >@if (!$last) {<span class="text-gray-600 font-localNames crow-name-title">;&nbsp;</span>} }
    </div>
    <!-- Literal meanings section in single quotes -->
    <div class="flex flex-wrap justify-center items-center gap-1">
      @for (literalMeaning of literalMeanings; track $index) {<span
        class="text-gray-600 text-base sm:text-lg lg:text-xl scaled-text"
        >'{{ literalMeaning || 'unknown' }}'</span
      >@if (!$last) {<span class="text-gray-600">;&nbsp;</span>}}
    </div>
    <!-- English names section -->
    @if (settings.useEnglish && englishNames.length > 0) {
    <div class="flex flex-wrap justify-center items-center gap-1">
      @for (englishName of englishNames; track $index) {<span
        class="text-gray-600 font-semibold text-base sm:text-lg lg:text-xl scaled-text"
        >{{ englishName }}</span
      >@if (!$last) {<span class="text-gray-600">;&nbsp;</span>}}
    </div>
    }
    <!-- Scientific names section -->
    @if (settings.showScientificNames && scientificNames.length > 0) {
    <p class="italic text-gray-700 text-base sm:text-lg lg:text-xl scaled-text">
      (@for (scientificName of scientificNames; track $index) {{{ scientificName }}@if (!$last)
      {<span class="text-gray-600">;&nbsp;</span>}})
    </p>
    }
  </div>

  @if (species?.descriptionEn) {
  <app-detail-description [species]="species"></app-detail-description>
  } @if (species?.mapImage) {
  <app-species-map [species]="species!"></app-species-map>
  }
  <div class="pb-16"></div>
</ion-content>
}
<app-back-button [addBottomSafePadding]="false"></app-back-button>
