<ion-item
  class="ion-activatable ripple-parent"
  [lines]="isLastItem ? 'none' : 'inset'"
  (click)="onItemClick(item)"
  [style.--inner-padding-end]="'16px'"
  [style.--inner-padding-bottom]="item.mergedLocalNamesDisplay ? '6px' : '0px'"
  [style.--padding-top]="item.mergedLocalNamesDisplay ? '6px' : '0px'"
>
  @if (item.images && item.images.length > 0) {
    <div class="rounded-md w-24 aspect-[4/3] flex-shrink-0 my-3">
      <ion-img class="object-contain w-full h-full" [src]="imageUrl"></ion-img>
    </div>
  }
  <div class="ml-4 flex-1 min-w-0 space-y-1">
    <h2
      appShrinkToFitText
      class="font-localNames text-lg md:text-xl ion-text-capitalize block w-full leading-tight"
    >
      {{ orderedNames[0] }}
    </h2>
    @if (orderedNames[1]) {
      <p
        class="font-medium text-sm md:text-base ion-text-capitalize text-gray-600 dark:text-gray-700"
        color="medium"
      >
        {{ orderedNames[1] }}
      </p>
    }
    @if (orderedNames[2]) {
      <p class="text-sm md:text-base italic text-gray-500 dark:text-gray-700" color="medium">
        {{ orderedNames[2] }}
      </p>
    }
    <!-- Type-specific content will be projected here -->
    <ng-content select="[typeSpecific]"></ng-content>
  </div>
  <!-- Type-specific actions will be projected here -->
  <ng-content select="[typeActions]"></ng-content>
  <ion-icon slot="end" name="chevron-forward"></ion-icon>
</ion-item>
