<ion-tabs color="primary">
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button (click)="openMenu()">
      <ion-icon aria-hidden="true" class="w-10 h-10" color="light" name="menu"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="birds" [routerLink]="['/tabs/birds']">
      @if (iconUrlBird) {
        <img [src]="iconUrlBird" alt="" aria-hidden="true" class="w-10 h-10 object-contain brightness-0 invert" />
      } @else {
        <ion-icon aria-hidden="true" class="w-10 h-10" color="light" name="bird"></ion-icon>
      }
      <!-- <ion-label class="text-xl font-localNames pb-2" color="light">{{ tabLabelBird }}</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="plants" [routerLink]="['/tabs/plants']">
      @if (iconUrlPlant) {
        <img [src]="iconUrlPlant" alt="" aria-hidden="true" class="w-10 h-10 object-contain brightness-0 invert" />
      } @else {
        <ion-icon aria-hidden="true" class="w-10 h-10" color="light" name="leaf"></ion-icon>
      }
      <!-- <ion-label class="text-xl font-localNames pb-2" color="light">{{ tabLabelPlant }}</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
