<app-header [title]="'Explore ' + domainLabel" />

<ion-content [fullscreen]="true" class="safe-pad-bottom">
  @if (showDismissOverlay) {
  <div
    class="dismiss-keyboard-overlay"
    (click)="onDismissOverlayClick($event)"
    aria-hidden="true"
  ></div>
  }
  <ion-list class="">
    <!-- No items found -->
    @if (items.length === 0) {
    <div class="ion-text-center flex items-center justify-center h-32">
      <ion-label>
        @if (itemsLoading) {
        <p class="text-sm">Loading birds...</p>
        } @else if (itemsAll.length === 0) {
        <p class="text-sm">No birds found in the database.</p>
        } @else {
        <p class="text-sm">No birds found. Try a different search.</p>
        }
      </ion-label>
    </div>
    }
    <!-- Items grouped by user preference -->
    @for (itemGroup of itemsGrouped; track itemGroup.name) {
    <ion-item-group>
      <app-list-divider [itemGroup]="itemGroup"></app-list-divider>
      @for (item of itemGroup.items; track item.id + '-' + $index; let last = $last) {
      <app-bird-list-item [item]="item" [isLastItem]="last" [sortType]="sortType"></app-bird-list-item>
      }
    </ion-item-group>
    }
  </ion-list>
</ion-content>

<app-search-bar [domain]="speciesType.Bird"></app-search-bar>
