<app-header [title]="'Explore ' + domainLabel" />

<ion-content [fullscreen]="true" [scrollY]="false" class="safe-pad-bottom explore-ion-content">
  @if (showDismissOverlay) {
  <div
    class="dismiss-keyboard-overlay"
    (click)="onDismissOverlayClick($event)"
    aria-hidden="true"
  ></div>
  }
  <!-- No items found -->
  @if (items.length === 0) {
  <ion-list lines="none">
    <div class="ion-text-center flex items-center justify-center h-32">
      <ion-label>
        @if (itemsLoading) {
        <span class="text-lg lg:text-xl">Loading birds...</span>
        } @else if (itemsAll.length === 0) {
        <span class="text-lg lg:text-xl">No birds found in the database.</span>
        } @else {
        <span class="text-lg lg:text-xl">No birds found. Try a different search.</span>
        }
      </ion-label>
    </div>
  </ion-list>
  } @else {
  <div class="explore-virtual-scroll-host">
    @if (stickyGroup) {
    <div class="explore-sticky-group-header">
      <app-list-divider [itemGroup]="stickyGroup" [sticky]="false"></app-list-divider>
    </div>
    }
    <cdk-virtual-scroll-viewport
      #virtualScrollViewport
      autosize
      appendOnly
      class="explore-virtual-scroll"
      [minBufferPx]="200"
      [maxBufferPx]="400"
    >
      <div class="explore-virtual-list">
        <div
          *cdkVirtualFor="let row of exploreFlatRows; trackBy: trackExploreRow; let index = index"
          [attr.data-explore-row-index]="index"
          class="explore-virtual-row"
        >
          @switch (row.kind) {
            @case ('divider') {
            <app-list-divider [itemGroup]="row.group" [sticky]="false"></app-list-divider>
            }
            @case ('item') {
            <app-bird-list-item
              [item]="row.item"
              [isLastItem]="row.isLastItem"
              [sortType]="sortType"
            ></app-bird-list-item>
            }
          }
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  }
</ion-content>

<app-search-bar [domain]="speciesType.Bird"></app-search-bar>
