@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-safe {
    padding-bottom: var(--app-safe-area-bottom, env(safe-area-inset-bottom, 0px));
  }
  .pt-safe {
    padding-top: var(--app-safe-area-top, env(safe-area-inset-top, 0px));
  }
  .pl-safe {
    padding-left: var(--app-safe-area-left, env(safe-area-inset-left, 0px));
  }
  .pr-safe {
    padding-right: var(--app-safe-area-right, env(safe-area-inset-right, 0px));
  }
}
